
@{
    ViewBag.Title = "View";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="~/Scripts/popper.js"></script>
    <link href="~/Scripts/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
</head>
<body>
    <div style="display:flex;flex-direction:row;justify-content:center;align-items:stretch">
        <div style="">
            <h1>Jsons Generated!</h1>
            <h3>Check your downloads folder for the JSON files.</h3>
        </div>
        
    </div>
</body>

